body{
	font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
background-color: #E6E6E4;
color: #424242;
}

.title{
	font-weight: bold;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 60px;
}

#title_projects{
	color: white;
	font-size: 2.5em;
}

.projectHeader{
	position: relative;
	top: 0px;
}
.projectHeader img{
	 position: relative; 
	 /*width: 70%;*/
}

.projectHeader h3{ 
	position: relative;
    top: -40px;
    left: 60px;

}

.project p{
    color: white;
    position: relative;
    width: 55%;
    top: -20px;
    left: 50px;
}

.projectL p{
	color: white;
    position: relative;
    width: 55%;
    top: -20px;
    right: -50px;
}

.projectL h3{
	left: 80px;
}

.projectL .project_imgL{
	position: relative;
	left: -200px;
}